/* FIX: Lists & Scrolling */
#mainInterface { 
    flex: 1 1 0 !important; /* Yeh 0 magic fix hai */
    flex-direction: column;
    overflow: hidden; 
    min-height: 0; 
} 

.list-container { 
    flex: 1 1 0; /* Yeh 0 magic fix hai */
    height: 100%;
    overflow-y: auto; 
    background: transparent; 
    padding-bottom: 10px; 
    min-height: 0; 
} 

.list-container::-webkit-scrollbar { width: 4px; }
.list-container::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.2); border-radius: 10px; }
